<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{css/mystyle.css}">

</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="jumbotron">
         <h1 class="my-font display-4" th:text="${greeting}"></h1>
    </div>
</div>
</body>
</html>